.top-0 {
    top: 0 !important;
}

.platform {
    font-weight: bold;
    font-size: 1.1rem;
}
.category {
    font-size: 1.1rem;
}
.game {
    font-size: 1rem;
}

/* Small devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .platform {
        font-weight: bold;
        font-size: 1rem;
    }
    .category {
        font-size: 1rem;
    }
    .game {
        font-size: 0.9rem;
    }
}

.treeview .badge {
    margin-left: 0.4em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

#glass {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 1000;
    background: rgba(100, 100, 100, .5);
}
#glass .spinner-border {
    width: 10rem;
    height: 10rem;
    border: 0.5em solid currentColor;
    border-right-color: transparent;
}

.card-header {
    border: 0;
    border-radius: 2px;
    padding: 0;
}
.card-header [data-toggle="collapse"] {
    background: #6c757d;
    color: white;
    display: block;
    text-align: left;
    box-shadow: 0 0 0 0 !important;
}
.card-header [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";  /* .glyphicon-chevron-down */
    font-weight: 900;
    float: right;
}
.card-header [data-toggle="collapse"].collapsed:after {
    content: "\e113"; /* .glyphicon-chevron-up */
}

/* Убираем скругление углов у кнопки комбобокса в фильтре */
button[data-id="filter-by-select"] {
    border-radius: 0 !important;
}
